# <center> Relatório

In [1]:
import pandas as pd

In [2]:
from map_.search import Searcher
import sys
import json
from map_ import Graph
from map_.search import Searcher
from config import MAP_PATH, COST_MAP_PATH

In [3]:
ORIGINS = [
    "Neamt",
    "Eforie",
    "Lugoj",
    "Arad",
    "Vaslui",
    "Oradea",
    "Iasi",
    "Timisoara"
]

TARGET = "Bucharest"

In [4]:
with open(MAP_PATH, 'r') as file:
    map_: dict = json.load(file)

with open(COST_MAP_PATH, 'r') as file:
    cost_map_: dict = json.load(file)

graph = Graph.dict2graph(map_)
searcher = Searcher(graph)
searcher.h_map = cost_map_

## Function to run algorithm

In [65]:
from typing import Callable, List, Tuple
from romania_map.map_.graph import State

def time_algorithm(algorithm: Callable[[State, State], List[Tuple[str, int]]]):
    target = graph[TARGET]

    for city in ORIGINS:
        origin = graph[city]
        %time
        result = algorithm(origin, target)


def run_algorithm(algorithm: Callable[[State, State], List[Tuple[str, int]]]):
    target = graph[TARGET]
    
    results = {
        'Origem': [],
        'Solução': [],
        'Custo': [],
        'Tempo': []
    }

    for city in ORIGINS:
        origin = graph[city]
        result = algorithm(origin, target)

        sequence = [st for st, _ in result]
        cost = result[-1][-1]

        results['Origem'].append(city)
        results['Solução'].append('-'.join(sequence))
        results['Custo'].append(cost)

    return results

### Breath-first Search

In [53]:
time_algorithm(searcher.breath)

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 3.1 µs
CPU times: user 1 µs, sys: 1 µs, total: 2 µs
Wall time: 2.15 µs
CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 3.1 µs
CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 2.15 µs
CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 3.1 µs
CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 2.86 µs
CPU times: user 1 µs, sys: 1 µs, total: 2 µs
Wall time: 3.1 µs
CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 1.91 µs

In [101]:
bfs_results_time = ['2 µs','1 µs','1e+03 ns','1e+03 ns','1e+03 ns','1 µs','1 µs','1e+03 ns']

In [102]:
bfs_results = run_algorithm(searcher.breath)
bfs_results['Tempo'] = [*bfs_results_time]
bfs_table = pd.DataFrame(bfs_results)
bfs_table

      Origem                                          Solução  Custo     Tempo
0      Neamt             Neamt-Iasi-Vaslui-Urziceni-Bucharest    406      2 µs
1     Eforie                Eforie-Hirsova-Urziceni-Bucharest    269      1 µs
2      Lugoj  Lugoj-Mehadia-Drobeta-Craiova-Pitesti-Bucharest    504  1e+03 ns
3       Arad                     Arad-Sibiu-Fagaras-Bucharest    450  1e+03 ns
4     Vaslui                        Vaslui-Urziceni-Bucharest    227  1e+03 ns
5     Oradea                   Oradea-Sibiu-Fagaras-Bucharest    461      1 µs
6       Iasi                   Iasi-Vaslui-Urziceni-Bucharest    319      1 µs
7  Timisoara           Timisoara-Arad-Sibiu-Fagaras-Bucharest    568  1e+03 ns

### Deep-first Search

In [71]:
time_algorithm(searcher.deep)

CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 3.1 µs
CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 3.1 µs
CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 3.1 µs
CPU times: user 1 µs, sys: 1 µs, total: 2 µs
Wall time: 2.86 µs
CPU times: user 1 µs, sys: 1e+03 ns, total: 2 µs
Wall time: 3.1 µs
CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 2.86 µs
CPU times: user 1e+03 ns, sys: 1 µs, total: 2 µs
Wall time: 2.86 µs
CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 2.15 µs

In [103]:
dfs_results_time = ['1 µs','2 µs','1 µs','1 µs','1 µs','2 µs','1e+03 ns','1 µs']

In [104]:
dfs_results = run_algorithm(searcher.deep)
dfs_results['Tempo'] = [*dfs_results_time]
dfs_table = pd.DataFrame(dfs_results)
dfs_table

,Origem,Solução,Custo,Tempo
0,Neamt,Neamt-Iasi-Vaslui-Urziceni-Bucharest,406,1 µs
1,Eforie,Eforie-Hirsova-Urziceni-Bucharest,269,2 µs
2,Lugoj,Lugoj-Timisoara-Arad-Sibiu-Rimnicu Vilcea-Pite...,647,1 µs
3,Arad,Arad-Timisoara-Lugoj-Mehadia-Drobeta-Craiova-P...,733,1 µs
4,Vaslui,Vaslui-Urziceni-Bucharest,227,1 µs
5,Oradea,Oradea-Sibiu-Arad-Timisoara-Lugoj-Mehadia-Drob...,1024,2 µs
6,Iasi,Iasi-Vaslui-Urziceni-Bucharest,319,1e+03 ns
7,Timisoara,Timisoara-Lugoj-Mehadia-Drobeta-Craiova-Pitest...,615,1 µs

### Uniform-cost Search

In [74]:
time_algorithm(searcher.uniform)

CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 3.81 µs
CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 2.86 µs
CPU times: user 1 µs, sys: 1 µs, total: 2 µs
Wall time: 2.86 µs
CPU times: user 1 µs, sys: 1 µs, total: 2 µs
Wall time: 3.1 µs
CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 2.15 µs
CPU times: user 1e+03 ns, sys: 1 µs, total: 2 µs
Wall time: 1.91 µs
CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 2.62 µs
CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 3.1 µs

In [105]:
uniform_results_time = ['1e+03 ns', '2 µs', '1 µs', '1 µs', '1e+03 ns', '1e+03 ns', '1 µs', '1 µs']

In [106]:
uniform_results = run_algorithm(searcher.uniform)
uniform_results['Tempo'] = [*uniform_results_time]
uniform_table = pd.DataFrame(uniform_results)
uniform_table

,Origem,Solução,Custo,Tempo
0,Neamt,Neamt-Iasi-Vaslui-Urziceni-Bucharest,406,1e+03 ns
1,Eforie,Eforie-Hirsova-Urziceni-Bucharest,269,2 µs
2,Lugoj,Lugoj-Mehadia-Drobeta-Craiova-Pitesti-Bucharest,504,1 µs
3,Arad,Arad-Sibiu-Rimnicu Vilcea-Pitesti-Bucharest,418,1 µs
4,Vaslui,Vaslui-Urziceni-Bucharest,227,1e+03 ns
5,Oradea,Oradea-Sibiu-Rimnicu Vilcea-Pitesti-Bucharest,429,1e+03 ns
6,Iasi,Iasi-Vaslui-Urziceni-Bucharest,319,1 µs
7,Timisoara,Timisoara-Arad-Sibiu-Rimnicu Vilcea-Pitesti-Bu...,536,1 µs

### Greedy Search

In [78]:
time_algorithm(searcher.greedy)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.05 µs
CPU times: user 1 µs, sys: 1e+03 ns, total: 2 µs
Wall time: 2.86 µs
CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 2.86 µs
CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 1.91 µs
CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 2.15 µs
CPU times: user 1e+03 ns, sys: 1 µs, total: 2 µs
Wall time: 3.1 µs
CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 3.1 µs
CPU times: user 1e+03 ns, sys: 1e+03 ns, total: 2 µs
Wall time: 3.1 µs

In [108]:
greedy_results_time = ['2 µs', '1 µs', '1 µs', '1 µs', '1e+03 ns', '1e+03 ns', '1 µs', '1e+03 ns']

In [109]:
greedy_results = run_algorithm(searcher.greedy)
greedy_results['Tempo'] = [*greedy_results_time]
greedy_table = pd.DataFrame(greedy_results)
greedy_table

,Origem,Solução,Custo,Tempo
0,Neamt,Neamt-Iasi-Vaslui-Urziceni-Bucharest,406,2 µs
1,Eforie,Eforie-Hirsova-Urziceni-Bucharest,269,1 µs
2,Lugoj,Lugoj-Mehadia-Drobeta-Craiova-Pitesti-Bucharest,504,1 µs
3,Arad,Arad-Sibiu-Fagaras-Bucharest,450,1 µs
4,Vaslui,Vaslui-Urziceni-Bucharest,227,1e+03 ns
5,Oradea,Oradea-Sibiu-Fagaras-Bucharest,461,1e+03 ns
6,Iasi,Iasi-Vaslui-Urziceni-Bucharest,319,1 µs
7,Timisoara,Timisoara-Lugoj-Mehadia-Drobeta-Craiova-Pitest...,615,1e+03 ns

### A*

In [115]:
time_algorithm(searcher.astar)

CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 2.86 µs
CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 2.86 µs
CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 3.1 µs
CPU times: user 1 µs, sys: 1e+03 ns, total: 2 µs
Wall time: 3.1 µs
CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 2.86 µs
CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 3.1 µs
CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 3.1 µs
CPU times: user 1 µs, sys: 1e+03 ns, total: 2 µs
Wall time: 1.91 µs

In [116]:
astar_results_time = ['1e+03 ns', '2 µs', '1e+03 ns', '1 µs', '1 µs', '2 µs', '1 µs', '1 µs']

In [117]:
astar_results = run_algorithm(searcher.astar)
astar_results['Tempo'] = [*astar_results_time]
astar_table = pd.DataFrame(astar_results)
astar_table

,Origem,Solução,Custo,Tempo
0,Neamt,Neamt-Iasi-Vaslui-Urziceni-Bucharest,406,1e+03 ns
1,Eforie,Eforie-Hirsova-Urziceni-Bucharest,269,2 µs
2,Lugoj,Lugoj-Mehadia-Drobeta-Craiova-Pitesti-Bucharest,504,1e+03 ns
3,Arad,Arad-Sibiu-Rimnicu Vilcea-Pitesti-Bucharest,418,1 µs
4,Vaslui,Vaslui-Urziceni-Bucharest,227,1 µs
5,Oradea,Oradea-Sibiu-Rimnicu Vilcea-Pitesti-Bucharest,429,2 µs
6,Iasi,Iasi-Vaslui-Urziceni-Bucharest,319,1 µs
7,Timisoara,Timisoara-Arad-Sibiu-Rimnicu Vilcea-Pitesti-Bu...,536,1 µs

In [129]:
with open('search_tables.tex', 'a') as file:
   for name, table in [('bfs_table', bfs_table),
      ('dfs_table',dfs_table),
      ('uniform_table',uniform_table),
      ('greedy_table',greedy_table),
      ('astar_table', astar_table)]:
      
      file.write(f'{name}\n')
      table.style.hide(axis="index").to_latex(file)
      file.write('\n')

TypeError: Styler.to_latex() got an unexpected keyword argument 'columns'